.profileScreen {
    height: 1000px;
    width: 100vw;
}

.profileScreen .title{
    padding: 160px 180px 0px;
    font-size: 32px;
}

.profileScreen .details{
    display: flex;
    flex-wrap: wrap;
}

.options, .moreOptions{
    height: 700px;
    box-sizing: border-box;
    
}

@media (min-width: 768px) {
    .options {
        width: 45%;
    }

    .moreOptions {
        width: 55%;
    }
}

@media (max-width: 767px) {
    .options, .moreOptions {
        width: 100%;
    }
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.options .rectangle,
.options .rectangle1{
    display: flex;
    height: 80px;
    width: 500px;
    background-color: #a2a37836;
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.options .rectangle1{
    background-color: white;
}

.right-arrow {
    font-size: 30px;
    margin-left: auto;
}

.rectangle:hover,
.rectangle1:hover{
    background-color: #ddd; 
}

.moreOptions{
    
}

.moreOptions .offer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 55px;
    padding-bottom: 30px;
}

.offerDetails{
    width: 200px;
    height: 300px;
    background-color: #a2a37833;
}

.offerDetails img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.offerDetails .desc{
   padding: 20px;
}
.moreOptions .title{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
}

.offerDetails:hover, .offerDetails:focus {
    transform: scale(1.1);
  }

.moreOptions .purchase{
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.purchaseRecord{
    background-color: #a2a37833;
    height: 70px;
    width: 700px;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
  }
